$border-radius: 5px;
$transition: all 0.2s ease-in-out;
$shadow: 0 2px 20px rgba(0,0,0,0.5);

$white-color: #FDFDFD;

$grey-color: #B3B3B3;

$black-color-dark: #010101;
$black-color: #171717;
$black-color-light: #3D3D3D;

$red-color: #F44336;

$blue-color: #2775C3;
