@tailwind base;
@tailwind components;
@tailwind utilities;

@import "partials/variables";
@import "partials/navbar";
@import "partials/navbar";
@import "partials/typography";

@layer base {
  a {
    @apply text-gold;
  }
}

@layer components {
  .card {
    @apply hover:scale-105 transition-transform duration-300 ease-in-out overflow-hidden;

    img {
      @apply w-full;
    }
  }

  .photo-card > svg {
    width: 100%;
    margin-top: -21px;
    display: block;
  }

  .btn {
    @apply py-2 px-4 rounded bg-purple text-white flex justify-around items-center;

    i > svg {
      @apply ml-2 text-white;
    }
  }

  .container {
    @apply px-12;
  }
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/montserrat-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('/fonts/montserrat-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/montserrat-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
}

#hero,
#quote,
#accomplishments {
  & + svg {
    width: 100%;
  }
}

.quote,
.comment {
  svg {
    flex-shrink: 0;
    width: 5rem;
    height: auto;
  }
}

.quote svg {
  color: #6644AF;
}

.comment svg {
  color: #B29FDA;

  &:first-of-type {
    align-self: flex-start;
  }

  &:last-of-type {
    align-self: flex-end;
  }
}

.accomplishment img {
  border-radius: 1.5rem;
}

footer {
  margin-top: 110px;

  & > svg {
    width: 100%;
    margin-top: -110px;
  }

  i > svg {
    display: inline-block;
  }
}

.about-section:nth-of-type(2n-1) {
  @apply bg-purple text-white;

  .text {
    grid-column-start: 1;
  }
}

#about {
  svg {
    width: 100%;
  }
}

.comment-picture picture {
  position: absolute;
  right: 2.75rem;
  bottom: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
}