<footer class="flex">
    <div class="">
        <span class="">
            <a href="/about" class="grey-color">About</a>
            &#8901;
            <a href="/work" class="grey-color">Work</a>
            &#8901;
            <a href="/contact" class="grey-color">Contact</a>
        </span>

        <small class="">
            &copy; Bella Comelo {{ now.Year }}. <br> All Rights Reserved. <a href="/privacy-policy/"
                class="grey-color">Privacy Policy</a>
        </small>
    </div>
</footer>