<footer class="flex justify-end align-center flex-column bg-black">
    <div class="flex-center flex-column">
        <span class="links grey-color">
            <a href="/about" class="grey-color">About</a>
            &#8901;
            <a href="/work" class="grey-color">Work</a>
            &#8901;
            <a href="/contact" class="grey-color">Contact</a>
        </span>

        <small class="copyright grey-color text-center">
            &copy; Bella Comelo {{ now.Year }}. <br> All Rights Reserved. <a href="/privacy-policy/"
                class="grey-color">Privacy Policy</a>
        </small>
    </div>
</footer>