<header id="header">
    <div class="container">
        <nav>
            <!-- <img inline src="/img/logo.svg" id="navLogo"> -->
            <span class="nav-toggle mobile"></span>
            <ul class="navbar">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/services" class="nav-link">Services</a></li>
                <li><a href="/work" class="nav-link">Work</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/blog" class="nav-link">Blog</a></li>
                <li class="no-margin"><a href="/get-quote" class="nav-button button">Get Quote</a></li>
                <li class="nav-info mobile">
                    <!-- <img inline src="/img/logo.svg"/> -->
                    <span>
                        <h5 class="title text-center">Milan Ferus-Comelo</h5>
                        <p class="subtitle text-center">Web Developer <span class="red-color">|</span> Drone Pilot</p>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</header>