<a href="{{ .RelPermalink }}" class="inline-block w-fit">
    <div class="card rounded-3xl overflow-hidden shadow-3xl bg-purple aspect-square photo-card">
        {{ $dashedName := .Name | urlize }}
        {{ $image_jpg := resources.Get (printf "/photos/%s/card-pic.jpg" $dashedName) }}
        {{ partial "picture" (dict "img_jpg" $image_jpg "alt" .Description) }}

        {{ partial "svg/photo-card-wave.svg" . }}

        <div class="px-6 py-4 mt-5">
            <div class="font-bold text-2xl mb-2">{{ .Title }}</div>
            <p class="text-white text-xl">
                {{ .Description }}
            </p>
        </div>
    </div>
</a>