{{ define "main" }}

<section id="hero" class="bg-purple">
    <div class="container grid grid-cols-3 justify-items-center items-center pt-20">
        <div class="text-white col-span-2">
            <h1 class="text-8xl font-bold">Bella Comelo</h1>
            <h2 class="mb-0">A loving wife, mother, grandmother, and social justice warrior you don't want to
                mess with
            </h2>
        </div>
        <div class="img rounded-full overflow-hidden">
            {{ $img_jpg := resources.Get "index/hero-img.jpg" }}
            {{ partial "picture" (dict "img_jpg" $img_jpg "alt" "Portrait of Bella Comelo") }}
        </div>
    </div>
</section>

{{ partial "svg/hero-wave.svg" . }}

<section id="quote">
    <div class="container grid grid-cols-3 gap-16 justify-items-center items-center py-20">
        <div class="img rounded-full overflow-hidden">
            {{ $img_jpg := resources.Get "index/hero-img.jpg" }}
            {{ partial "picture" (dict "img_jpg" $img_jpg "alt" "Portrait of Bella Comelo") }}
        </div>
        <div class="flex flex-col items-end col-span-2">
            <div class="quote flex justify-center items-start">
                {{ partial "svg/quotation-mark-left.svg" . }}
                <p class="mx-16 my-4 text-2xl text-justify leading-relaxed">
                    To laugh often and much; to win the respect of intelligent people and the affection of children; to
                    earn the appreciation of honest critics and endure the betrayal of false friends; to appreciate
                    beauty, to find the best in others; to leave the world a bit better, whether by a healthy child, a
                    garden patch, or a redeemed social condition; to know even one life has breathed easier because you
                    have lived. This is to have succeeded.
                </p>
                {{ partial "svg/quotation-mark-right.svg" . }}
            </div>
            <p class="text-2xl">-- Ralph Waldo Emerson</p>
        </div>
    </div>
</section>

{{ partial "svg/wave-top.svg" . }}

<section id="accomplishments" class="bg-purple">
    <div class="container py-20">
        <h2 class="section-title mt-0 text-white">Accomplishments</h2>
        <div class="grid grid-cols-3 gap-10 justify-items-center items-center mt-20">
            {{ $accomplishments := readDir "assets/accomplishments/" }}

            {{ range $accomplishments }}

            {{ $image_jpg := resources.Get (printf "/accomplishments/%s" .Name) }}
            {{ $title := replace .Name ".jpg" " " | humanize }}

            <div class="accomplishment flex flex-col items-center justify-center">
                {{ partial "picture" (dict "img_jpg" $image_jpg "alt" $title) }}

                <p class="text-white mt-4">{{ $title }}</p>
            </div>

            {{ end }}
        </div>
    </div>
</section>

{{ partial "svg/wave-bottom.svg" . }}

<section id="timeline" class="my-40 flex justify-center items-center">
    {{ partial "svg/timeline.svg" . }}
</section>

{{ end }}